*{margin: 0; box-sizing: border-box;}
body{font-family: Arial, Helvetica, sans-serif;}

a{text-decoration: none; color: #fff;}
ul{list-style: none;}
li{list-style: none;}
img{vertical-align: bottom; max-width: 100%;}
  
button{cursor: pointer;}
:disabled{cursor: not-allowed;}

@font-face {
    font-family: nav;
    src: url(../Fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: head;
    src: url(../Fonts/Audiowide-Regular.ttf);
}
@font-face {
    font-family: para;
    src: url(../Fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: para2;
    src: url(../Fonts/Montserrat-Bold.ttf);
}

.container{max-width: 1200px; margin: auto; padding: 0 15px;}
.row{margin: 0 -15px; display: flex; flex-flow: row wrap;}
.row::after{content:""; display: block;}


.col1{flex:1 1 8.33%; padding: 0 15px;}
.col2{flex:1 1 16.66%; padding: 0 15px;}
.col3{flex:1 1 25%; padding: 0 15px;}
.col4{flex:1 1 33.33%; padding: 0 15px;}
.col5{flex:1 1 41.66%; padding: 0 15px;}
.col6{flex:1 1 50%; padding: 0 15px;}
.col7{flex:1 1 58.33%; padding: 0 15px;}
.col8{flex:1 1 66.66%; padding: 0 15px;}
.col9{flex:1 1 75%; padding: 0 15px;}
.col10{flex:1 1 83.33%; padding: 0 15px;}
.col11{flex:1 1 91.66%; padding: 0 15px;}
.col12{flex:1 1 100%; padding: 0 15px;} 

.wrap1{background-color: #191c26;}
.wrap1 .logo{margin: 10% 0;}
.wrap1 ul{display: flex; justify-content: center; gap: 10%;margin-top: 5%;}
.wrap1 .fas{font-size: 20px; color: #f7ead2;}
.wrap1 li a{text-transform: uppercase;  font-size: 20px; color: #f7ead2; font-family: nav;}
.wrap1 a:hover{text-decoration: 3px solid #f7ead2 underline; text-underline-offset: 5px;}
.wrap1 .toggle{display: flex; justify-content: end;margin-top: 40px; display: none;}
.wrap1 button{font-size: 20px; padding: 5px 10px; background-color: #f7ead2; color: #d3557c; border: 1px solid transparent; border-radius: 5px;}
.wrap1 button:hover{ background-color: transparent; color: #d3557c; border: 1px solid #d3557c; transition: 1s all ease-in-out;}


.wrap2{background: url(../Images/wrap2_bg.jpg) no-repeat center; background-size: cover;}
.wrap2 .imag{display: flex; justify-content: center; margin: 25% 0;}
.wrap2 h1{font-size: 100px; color: #d3557c; font-family: head; margin-top: 20%;}
.wrap2 .p{font-size: 22px; color: #191c26; padding-right: 10%; font-family: para; margin-top: 2%;}
.wrap2 .btn{color: #f7ead2; background-color: #d3557c; font-size: 20px; border: 1px solid transparent; margin-top: 5%; padding: 2% 8%; border-radius: 50px;}
.wrap2 .btn:hover{color: #d3557c; background-color: #f7ead2; transition: 0.5s all ease-in-out; border: 1px solid #d3557c; margin-top: 5%; padding: 2% 8%; border-radius: 50px;}
.wrap2 .pp{font-size: 30px; padding-right: 10%; font-family: para2; margin-top: 5%; color: #191c26;}

.wrap3{background: url(../Images/wrap3_bg.jpg) no-repeat center; background-size: cover;}
.wrap3 h1{color: #fff; font-family: head; text-align: center; font-size: 60px; font-weight: 500; letter-spacing: 2px; margin-top: 10%;}
.wrap3 .p1{color: #fff; font-family: para; text-align: center; font-size: 25px; letter-spacing: 1px; margin: 3% auto 7% auto; padding: 0 15%;}
.wrap3 .box{margin-bottom: 20%; display: flex; justify-content: center;}

.wrap4{background: url(../Images/wrap4_bg.jpg) no-repeat center; background-size: cover;}
.wrap4 .imag{display: flex; justify-content: center; margin: 30% 0 35% 0;}
.wrap4 h1{color: #fff; font-family: head; text-align: left; font-size: 60px; font-weight: 500; letter-spacing: 2px; margin-top: 45%;}
.wrap4 .dir{margin-left: 5%;}
.wrap4 p{color: #fff; font-family: para; text-align: left; font-size: 25px; letter-spacing: 1px; margin: 3% 0 7% 0; padding: 0 10% 0 0;}

.wrap5{background: url(../Images/wrap5_bg.jpg) no-repeat center; background-size: cover;}
.wrap5 .imag{display: flex; justify-content: center; margin: 30% 0 35% 0;}
/* .wrap4 .dir{margin-left: 5%;} */
.wrap5 h1{color: #191c26; font-family: head; text-align: left; font-size: 60px; font-weight: 500; letter-spacing: 2px; margin-top: 45%;}
.wrap5 p{color: #191c26; font-family: para; text-align: left; font-size: 25px; letter-spacing: 1px; margin: 3% 0 7% 0; padding: 0 10% 0 0;}

.wrap6{background: url(../Images/wrap6_bg.jpg) no-repeat center; background-size: cover;}
.wrap6 .imag{display: flex; justify-content: center; margin: 30% 0 35% 0;}
.wrap6 h1{color: #d3557c; font-family: head; text-align: left; font-size: 60px; font-weight: 500; letter-spacing: 2px; margin-top: 45%;}
.wrap6 .dir{margin-left: 5%;}
.wrap6 p{color: #d3557c; font-family: para; text-align: left; font-size: 25px; letter-spacing: 1px; margin: 3% 0 7% 0; padding: 0 10% 0 0;}

.wrap7{background: url(../Images/wrap7_bg.jpg) no-repeat center; background-size: cover;}
.wrap7 h1{color: #fff; text-align: center; font-family: head; font-size: 60px; margin:15% 0 2% 0; word-spacing: 5px; font-weight: 500; text-transform: uppercase;}
.wrap7 .para{color: #fff; text-align: center; font-family: para; font-size: 23px; padding: 0 20%; margin-bottom: 5%;}
.wrap7 .box{text-align: center; font-size: 40px; font-weight: 500; color: #fff; font-family: para; margin: 20% 0 50% 0;}

.wrap8{background: url(../Images/wrap8_bg.jpg) no-repeat center; background-size: cover;}
.wrap8 h1{color: #191c26; font-family: head; text-align: center; font-size: 60px; font-weight: 500; letter-spacing: 2px; margin: 10% 0 7% 0;}
.wrap8 .p1{color: #191c26; font-family: para; text-align: center; font-size: 35px;  margin: 3% 0 7% 0; padding: 0 5%;}
.wrap8 .box{margin-bottom: 20%; display: flex; justify-content: center;}

.wrap9{background: url(../Images/wrap9_bg.jpg) no-repeat center; background-size: cover;}
.wrap9 h1{color: #f7ead2; text-align: center; font-family: head; font-size: 60px; margin:10% 0 2% 0; word-spacing: 5px; font-weight: 500; text-transform: uppercase;}
.wrap9 .p1{color: #f7ead2; font-family: para; text-align: center; font-size: 25px;  margin: 3% 0 7% 0; padding: 0 20%;}
.wrap9 .lbl{display: flex; justify-content: center;  margin-bottom: 15%;}
.wrap9 input{padding: 15px 20px; width: 40%; border-top-left-radius:20px ; border-bottom-left-radius: 20px; outline: none; font-size: 20px; border: 1px solid transparent;}
.wrap9 button{padding: 15px 20px; font-size: 20px; border: 1px solid transparent; color: #f7ead2; background-color: #191c26; border-top-right-radius:20px ; border-bottom-right-radius: 20px;}

.wrap10{background: url(../Images/wrap10_bg.jpg) no-repeat center; background-size: cover;}
.wrap10 .r{margin-bottom: 30px;}
.wrap10 h1{font-size: 25px; color: #fff; margin-top: 100px; font-weight: 500; font-family: head; margin-bottom: 5%;}
.wrap10 .par{color: #fff; font-family: para; font-size: 18px; margin: 0 25% 5% 0;}
.wrap10 li{padding: 5px 0;}
.wrap10 a{font-size: 18px; font-family: para;}
.wrap10 a:hover{text-decoration: underline 2px solid #f7ead2; text-underline-offset: 5px ;}
.wrap10 img{padding: 5px; margin-bottom: 10%;}
.wrap10 .fotter{color:#f7ead2; text-align: center; font-weight: 500; font-family: head; margin: 2% 0; font-size: 20px;}
.wrap10 .ffa{font-family: head;}
.wrap10 .ffa:hover{text-decoration: underline 2px solid #f7ead2; text-underline-offset: 5px ;}


@media screen and (max-width:1200px) {
    .container{width:960px;}
    .wrap1 li a{font-size: 18px;}
    .wrap1 .toggle{ display: flex; justify-content: end; margin-top: 40px; display: none; margin-top: 55px;}
    .wrap1 ul{display: flex; justify-content: center; gap: 10%;margin-top: 7%;}
    .wrap2 h1{font-size: 80px; color: #d3557c; font-family: head; margin-top: 20%;}
    .wrap2 .pp{font-size: 25px; padding-right: 10%; font-family: para2; margin-top: 5%; color: #191c26;}
    .wrap4 .imag{display: flex; justify-content: center; margin: 10% 0 5% 0;}
    .wrap4 h1{color: #191c26; font-family: head; text-align: left; font-size: 60px; font-weight: 500; letter-spacing: 2px; margin-top: 5%;}
    .wrap4 p{color: #191c26; font-family: para; text-align: left; font-size: 23px; letter-spacing: 1px; margin: 3% 0 20% 0; padding: 0 7% 0 0;}
    .wrap6 .imag{display: flex; justify-content: center; margin: 10% 0 5% 0;}
    .wrap5 .imag{display: flex; justify-content: center; margin: 5% 0 25% 0;}
    .wrap6 p{color: #d3557c; font-family: para; text-align: left; font-size: 23px; letter-spacing: 1px; margin: 3% 0 7% 0; padding: 0 7% 0 0;}
    .wrap5 h1{color: #191c26; font-family: head; text-align: left; font-size: 60px; font-weight: 500; letter-spacing: 2px; margin-top: 15%;}
    .wrap5 p{color: #191c26; font-family: para; text-align: left; font-size: 23px; letter-spacing: 1px; margin: 3% 0 7% 0; padding: 0 7% 0 0;}
    .wrap7 .para{color: #fff; text-align: center; font-family: para; font-size: 23px; padding: 0 15%; margin-bottom: 5%;}
    .wrap7 .box{text-align: center; font-size: 30px; font-weight: 500; color: #fff; font-family: para; margin: 20% 0 50% 0;}
    .wrap9 .p1{color: #f7ead2; font-family: para; text-align: center; font-size: 25px;  margin: 3% 0 7% 0; padding: 0 15%;}
    .col-d-3{flex:1 1 25%; padding: 0 15px;}
    .wrap10 .lr{margin-top:50px ;}
    .col-d-12{flex:1 1 100%; padding: 0 15px;} 
    .wrap10 .c{margin-bottom: 10%;}
}
@media screen and (max-width:980px) {
    .container{width:760px;}
    .wrap1 .toggle{margin-top: 40px;}
    .wrap1 ul{display: flex; justify-content: center; gap: 7%;margin-top: 10%;}
    .wrap1 button{font-size: 20px; padding: 5px 7px;}
    .col-l-8{flex:1 1 66.66%; padding: 0 15px;}
    .col-l-2{flex:1 1 16.66%; padding: 0 15px;}
    .col-l-12{flex:1 1 100%; padding: 0 15px;} 
    .wrap2 h1{font-size: 80px; color: #d3557c; text-align: center; font-family: head; margin-top: 25%;}
    .wrap2 .p{font-size: 22px; text-align: center; color: #191c26; padding-right: 0; font-family: para; margin-top: 2%;}
    .wrap2 .btn{color: #f7ead2; background-color: #d3557c; font-size: 20px; border: 1px solid transparent; display: block; margin: 5% auto; padding: 2% 8%; border-radius: 50px;}
    .wrap2 .pp{font-size: 25px; text-align: center; padding-right: 0%; font-family: para2; margin-top: 5%; color: #191c26;}
    .wrap2 .imag{display: flex; justify-content: center; margin: 5% 0 25% 0;}
    .wrap3 h1{color: #fff; font-family: head; text-align: center; font-size: 50px; font-weight: 500; letter-spacing: 2px; margin-top: 10%;}
    .wrap3 .p1{color: #fff; font-family: para; text-align: center; font-size: 20px; letter-spacing: 1px; margin: 3% auto 7% auto; padding: 0 15%;}
    .wrap4 .dir{margin-left: 0%;}
    .wrap6 .dir{margin-left: 0%;}
    .wrap5 .dir{margin-left: 0%;}
    .wrap4 .imag{display: flex; justify-content: center; margin: 15% 0 5% 0;}
    .wrap4 h1{color: #000; font-family: head; text-align: center; font-size: 60px; font-weight: 500; letter-spacing: 2px; margin-top: 0%;}
    .wrap6 .imag{display: flex; justify-content: center; margin: 15% 0 5% 0;}
    .wrap6 h1{color: #d3557c; font-family: head; text-align: center; font-size: 60px; font-weight: 500; letter-spacing: 2px; margin-top: 0%;}
    .wrap5 .imag{display: flex; justify-content: center; margin: 0% 0 15% 0;}
    .wrap4 p{color: #000; font-family: para; text-align: center; font-size: 23px; letter-spacing: 1px; margin: 3% 0 20% 0; padding: 0 0 0 0;}
    .wrap6 p{color: #d3557c; font-family: para; text-align: center; font-size: 23px; letter-spacing: 1px; margin: 3% 0 20% 0; padding: 0 0 0 0;}
    .wrap5 h1{color: #191c26; font-family: head; text-align: center; font-size: 60px; font-weight: 500; letter-spacing: 2px; margin-top: 15%;}
    .wrap5 p{color: #191c26; font-family: para; text-align: center; font-size: 23px; letter-spacing: 1px; margin: 3% 0 7% 0; padding: 0 0 0 0;}
    .wrap7 .box{text-align: center; font-size: 25px; font-weight: 500; color: #fff; font-family: para; margin: 20% 0 50% 0;}
    .wrap9 .p1{color: #f7ead2; font-family: para; text-align: center; font-size: 25px;  margin: 3% 0 7% 0; padding: 0 10%;}
    .wrap9 input{padding: 15px 20px; width: 50%; border-top-left-radius:20px ; }
    .wrap8 h1{color: #191c26; font-family: head; text-align: center; font-size: 50px; font-weight: 500; letter-spacing: 2px; margin-top: 10%;}
    .wrap8 .p1{color: #191c26; font-family: para; text-align: center; font-size: 20px; letter-spacing: 1px; margin: 3% auto 7% auto; padding: 0 10%;}
    .wrap8 .box{margin-bottom: 20%; display: flex; justify-content: center;}
    .wrap8 .boxes{margin-bottom: 5%; display: flex; justify-content: center;}
}
@media screen and (max-width:780px) {
    .container{width:100%;}
    .wrap1 .toggle{ display: flex; margin-top: 35px;}
    .wrap1 ul{display: flex; flex-direction: column; gap: 0%;margin-top: 0%; padding: 20px; text-align: center; position: fixed; background-color: #191c26; left: 100%; right: 0; top: 100px;}
    .wrap1 li{margin: 10px;}
    .col-t-6{flex:1 1 50%; padding: 0 15px;}
    .col-t-3{flex:1 1 25%; padding: 0 15px;}
    .col-t-12{flex:1 1 100%; padding: 0 15px;} 
    .wrap1 .fas{font-size: 20px; color: #f7ead2; margin-bottom: 5%;}
    .wrap1 .logo{margin: 10% 0 10% 0;}
    .wrap2 h1{font-size: 70px; color: #d3557c; text-align: center; font-family: head; margin-top: 15%;}
    .wrap3 h1{color: #fff; font-family: head; text-align: center; font-size: 45px; font-weight: 500; letter-spacing: 2px; margin-top: 15%;}
    .wrap3 .p1{color: #fff; font-family: para; text-align: center; font-size: 18px; letter-spacing: 1px; margin: 3% auto 15% auto; padding: 0 15%;}
    .wrap3 .box{margin-bottom: 10%; display: flex; justify-content: center;}

    .wrap4 h1{color: #000; font-family: head; text-align: center; font-size: 40px; font-weight: 500; letter-spacing: 2px; margin-top: 0%;}
    .wrap4 p{color: #000; font-family: para; text-align: center; font-size: 20px; letter-spacing: 1px; margin: 3% 0 20% 0; padding: 0 0 0 0;}

    .wrap5 h1{color: #191c26; font-family: head; text-align: center; font-size: 40px; font-weight: 500; letter-spacing: 2px; margin-top: 15%;}
    .wrap5 p{color: #191c26; font-family: para; text-align: center; font-size: 20px; letter-spacing: 1px; margin: 3% 0 7% 0; padding: 0 0 0 0;}

    .wrap6 h1{color: #d3557c; font-family: head; text-align: center; font-size: 40px; font-weight: 500; letter-spacing: 2px; margin-top: 0%;}
    .wrap6 p{color: #d3557c; font-family: para; text-align: center; font-size: 20px; letter-spacing: 1px; margin: 3% 0 20% 0; padding: 0 0 0 0;}
    .wrap7 h1{color: #fff; text-align: center; font-family: head; font-size: 40px; margin:15% 0 2% 0; word-spacing: 5px; font-weight: 500; text-transform: uppercase;}
    .wrap7 .para{color: #fff; text-align: center; font-family: para; font-size: 20px; padding: 0 10%; margin-bottom: 15%;} 
    .wrap7 .box{text-align: center; font-size: 35px; font-weight: 500; color: #fff; font-family: para; margin: 2% 0 10% 0;}
    .wrap7 .mb{margin-bottom: 30%;}

    .wrap8 h1{color: #191c26; font-family: head; text-align: center; font-size: 45px; font-weight: 500; letter-spacing: 2px; margin-top: 15%;}
    .wrap8 .p1{color: #191c26; font-family: para; text-align: center; font-size: 18px; letter-spacing: 1px; margin: 3% auto 15% auto; padding: 0 8%;}
    .wrap8 .box{margin-bottom: 10%; display: flex; justify-content: center;}
    .wrap8 .boxes{margin-bottom: 5%; display: flex; justify-content: center;}

    .wrap9 .p1{color: #f7ead2; font-family: para; text-align: center; font-size: 20px;  margin: 3% 0 7% 0; padding: 0 10%;}
    .wrap9 input{padding: 15px 20px; width: 60%; border-top-left-radius:20px;}
    .wrap10 .lr{margin-top:50px ;}
    .wrap10 .ltr{margin-top:50px ;}
    .wrap10 .box{text-align: center;}
    .wrap10 .par{margin: 0 5% 5% 5%;}
    .wrap10 img{padding: 5px; margin-bottom: 5%;}
    .wrap10 .c{margin-bottom: 15%;}
    .wrap10 .r{margin-bottom: 10px;}
    .wrap10 .fotter{font-size: 18px; font-family: 'Courier New', Courier, monospace;}
    .wrap10 .ffa{font-size: 16px;font-family: 'Courier New', Courier, monospace;}
}
@media screen and (max-width:526px) {
    .container{width:100%;}
    .col-m-4{flex:1 1 33.33%; padding: 0 15px;}
    .col-m-5{flex:1 1 41.66%; padding: 0 15px;}
    .col-m-3{flex:1 1 25%; padding: 0 15px;}
    .wrap1 .toggle{display: flex; justify-content: center; margin-top: 35px;}
    .wrap1 .logo{margin: 10% 0 10% 0;}
    .wrap1 .fas{font-size: 18px; color: #f7ead2;}
    .wrap2 h1{font-size: 40px; text-align: center; margin-top: 10%;}
    .wrap2 .btn{color: #f7ead2; background-color: #d3557c; font-size: 18px; border: 1px solid transparent; margin-top: 5%; padding: 2% 8%; border-radius: 50px;}
    .wrap2 .p{font-size: 18px; text-align: center; padding-right: 0; margin-top: 2%;}
    .wrap2 .pp{font-size: 18px; text-align: center; padding-right: 0%; margin-top: 5%;}
    .wrap1 ul{display: flex; flex-direction: column; gap: 0%;margin-top: 0%; padding: 20px; text-align: center; position: fixed; background-color: #191c26; left: 100%; right: 0; top: 100px;}
    .wrap3 h1{color: #fff; font-family: head; text-align: center; font-size: 45px; font-weight: 500; letter-spacing: 2px; margin-top: 25%;}
    .wrap3 .p1{color: #fff; font-family: para; text-align: center; font-size: 18px; letter-spacing: 1px; margin: 3% auto 20% auto; padding: 0 5%;}
    .wrap3 .box{margin-bottom: 15%; display: flex; justify-content: center;}
    .wrap4 h1{color: #000; font-family: head; text-align: center; font-size: 25px; font-weight: 500; letter-spacing: 2px; margin-top: 0%;}
    .wrap4 p{color: #000; font-family: para; text-align: center; font-size: 18px; letter-spacing: 1px; margin: 3% 0 20% 0; padding: 0 0 0 0;}
    .wrap5 h1{color: #191c26; font-family: head; text-align: center; font-size: 25px; font-weight: 500; letter-spacing: 2px; margin-top: 15%;}
    .wrap5 p{color: #191c26; font-family: para; text-align: center; font-size: 18px; letter-spacing: 1px; margin: 3% 0 7% 0; padding: 0 0 0 0;}
    .wrap6 h1{color: #d3557c; font-family: head; text-align: center; font-size: 25px; font-weight: 500; letter-spacing: 2px; margin-top: 0%;}
    .wrap6 p{color: #d3557c; font-family: para; text-align: center; font-size: 18px; letter-spacing: 1px; margin: 3% 0 20% 0; padding: 0 0 0 0;}
    .wrap7 h1{color: #fff; text-align: center; font-family: head; font-size: 30px; margin:15% 0 2% 0; word-spacing: 5px; font-weight: 500; text-transform: uppercase;}
    .wrap7 .para{color: #fff; text-align: center; font-family: para; font-size: 18px; padding: 0 2%; margin-bottom: 15%;} 
    .wrap7 .box{text-align: center; font-size: 25px; font-weight: 500; color: #fff; font-family: para; margin: 2% 0 8% 0;}
    .wrap7 .mb{margin-bottom: 30%;}
    
    .wrap8 h1{color: #191c26; font-family: head; text-align: center; font-size: 35px; font-weight: 500; letter-spacing: 2px; margin-top: 20%; margin-bottom: 10%;}
    .wrap8 .p1{color: #191c26; font-family: para; text-align: center; font-size: 18px; letter-spacing: 1px; margin: 3% auto 20% auto; padding: 0 5%;}
    .wrap8 .box{margin-bottom: 15%; display: flex; justify-content: center;}
    .wrap8 .boxes{margin-bottom: 5%; display: flex; justify-content: center;}
    .wrap9 h1{color: #f7ead2; text-align: center; font-family: head; font-size: 40px; margin:10% 0 2% 0; word-spacing: 5px; font-weight: 500; text-transform: uppercase;}
    .wrap9 .p1{color: #f7ead2; font-family: para; text-align: center; font-size: 18px;  margin: 3% 0 7% 0; padding: 0 5%;}
    .wrap9 .lbl{display: block; margin: 0 auto 20% auto; }
    .wrap9 input{display: block; margin: auto; padding: 10px 20px; width: 100%; border-radius:20px ; outline: none; font-size: 18px; border: 1px solid transparent;}
    .wrap9 button{display: block; margin: 3% auto 0 auto ; padding: 10px 20px; font-size: 18px; border: 1px solid transparent; color: #f7ead2; background-color: #191c26; border-radius: 20px;}
    .wrap10 .fotter{font-size: 15px; font-family: 'Courier New', Courier, monospace;}
    .wrap10 .ffa{font-size: 15px;font-family: 'Courier New', Courier, monospace;}
}